@media only screen and (max-width:768px){
    .home-cards{
        grid-template-columns: repeat(2,1fr);
    }
    .xbox-wrapper p{
        display: none;
    }
    .xbox-wrapper .btn-primary{
        margin-top: 20px;
    }
    .links{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width:500px){
    .home-cards{
        grid-template-columns: 1fr;
    }
    .carbon-content{
        width: 85%;
    }
    .links{
        grid-template-columns: 1fr;
    }
    .footer-bottom{
        flex-direction: column;
    }
    .footer-nav{
        flex-direction: column;
        margin-top: 15px;
        padding-left: 4px;
    }
}