*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #fff;
    color: #000;
    line-height: 1.5;
}
a{
    color: #262626;
    text-decoration: none;
}
ul{
    list-style-type: none;
}
.container{
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

.btn-primary{
    display: block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #262626;
    color: #fff;
    width: 118px;
}
.btn-primary:hover{
    opacity: 0.9;
}
/* ------- Navbar ------- */
.nav{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 60px;
    padding: 20px;
    font-size: 13px;
}
.nav .header-logo{
    width: 110px;
}
.menu{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.menu-item{
    padding: 0 10px;
}
.menu-link{
    padding-bottom: 2px;
}
.menu-link:hover{
    border-bottom: 2px solid #262626;
}

/* ------- header-wrapper ------- */

.header-wrapper{
    width: 100%;
    height: 400px;
    background: url(../img/slide1.png) no-repeat center center/cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
    margin-bottom: 20px;
}
.header-title,.header-txt{
    margin-bottom: 20px;
}
.header-wrapper .btn-primary{
    margin-top: 20px;
}

/* ------- Home Cards ------- */

.home-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 40px;
}
.card-item{

}
.card-img{
    width: 100%;
    margin-bottom: 20px;
}
.card-title{
    margin-bottom: 5px;
}
.card-disc{

}
.card-link{
    display: block;
    padding-top: 10px;
    color: #0067b8;
    text-transform: uppercase;
    font-weight: bold;
}
.xbox{
    width: 100%;
    height: 350px;
    background: url("../img/xbox.png") no-repeat center center/cover;
    margin-bottom: 20px;
}
.xbox-wrapper{
    width: 40%;
    padding: 50px 0 0 30px;

}
.xbox-title{

}
.xbox-disc{
    margin: 10px 0px 20px;
}
